/* Общие стили */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; /* Светло-серый фон */
    color: #333; /* Темно-серый текст */
    line-height: 1.6;
}

/* Заголовок */
header {
    background-color: #383838; /* Темно-серый фон */
    color: #fff; /* Белый текст */
    padding: 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

header h1 {
    margin: 0;
    font-size: 2.2rem;
}

/* Основной контент */
main {
    padding: 20px;
    text-align: center; /* Центрируем контент */
}

.product-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product-item {
    background-color: #fff; /* Белый фон для карточек */
    border: 1px solid #000; /* Черная рамка */
    padding: 15px;
    width: 280px;
    position: relative;
    transition: transform 0.2s ease-in-out;
}

.product-item:hover {
    transform: scale(1.02);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15); /* Легкая тень при наведении */
}

.delete-checkbox {
    position: absolute;
    top: 15px;
    left: 15px;
    cursor: pointer;
}

/* Стиль для кнопок */
.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #fff; /* Белый фон */
    color: #000; /* Черный текст */
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #000; /* Черная рамка */
    transition: all 0.3s ease;
    text-align: center;
}

.btn:hover {
    background-color: #f1f1f1; /* Светло-серый при наведении */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Легкая тень при наведении */
}

.action-buttons {
    position: fixed; /* Закрепить кнопки */
    top: 10px; /* Отступ сверху */
    right: 10px; /* Отступ справа */
    display: flex;
    gap: 10px; /* Расстояние между кнопками */
    z-index: 1000; /* Поднять слой кнопок над другими элементами */
    flex-direction: row; /* Кнопки располагаются горизонтально */
    justify-content: flex-end; /* Выравнивание по правому краю */
}

/* Отсутствие продуктов */
.no-products {
    text-align: center;
    font-size: 1.2rem;
    color: #777; /* Нейтральный серый текст */
}

/* Подвал */
footer {
    background-color: #333; /* Темно-серый фон */
    color: #fff; /* Белый текст */
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Адаптивность */
@media (max-width: 768px) {
    .product-item {
        width: 90%;
    }
}
